<h1>Listing bids</h1>

<table>
  <tr>
    <th>User</th>
    <th>Choice</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bids.each do |bid| %>
  <tr>
    <td><%= bid.user %></td>
    <td><%= bid.choice %></td>
    <td><%= bid.value %></td>
    <td><%= link_to 'Show', bid %></td>
    <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
    <td><%= link_to 'Destroy', bid, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bid', new_bid_path %>
