
<%= form_for([@bet, @choice]) do |f| %>
  <% if @choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@choice.errors.count, "error") %> prohibited this choice from being saved:</h2>

      <ul>
      <% @choice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :placeholder => :description %>
    <input id="continue" name="continue" type="hidden" value="false" />
  </div>
  
  <div class="actions">
    <%= f.submit(:class => "small radius button") %>
    <%= f.submit("Create and Continue", :onclick => "document.getElementById('continue').value=true;", :class => "small radius button")  %>
  </div>
<% end %>
