<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @choice.description %>
</p>

<p>
  <b>Bet:</b>
  <%= @choice.bet %>
</p>


<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
