<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Remaining time</th>
    <th>User</th>
    <th></th>
  </tr>

<% @bets.each do |bet| %>
<% if bet.state == 'OPEN' %>
  <tr>
    <td><%= bet.title %></td>
    <td><%= bet.description %></td>
    <td><%= distance_of_time_in_words(Time.now,bet.expiration_date) %></td>
    <td><%= link_to bet.user.name, user_path(bet.user) %></td>
    <td><%= link_to 'Show', bet %></td>
  </tr>
<% end %>
<% end %>
</table>