<h1>Editing bet</h1>

<%= render 'form' %>

<%if @bet.state == "CREATION" %>
    <%= form_tag(:controller => "bets", :action => "set_bet_open", :method => "post") do %>
        <%= submit_tag("Open Bet") %>
    <%end%>
<%end%>

<h2>Choices</h2>

<%= link_to "Add Choice for this bet", new_bet_choice_url(@bet)  %>

<%= render 'choices' %>

<br/>
