<h1><%= @bet.title %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @bet.description %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @bet.expiration_date %>
</p>

<p>
  <b>User:</b>
  <%= link_to @bet.user.name, user_path(@bet.user)  %>
</p>


<h2>Choices</h2>


<%if @bet.choices.count == 0 %>
	<p>No choice for this bet.</p>
<%else%>

    <%= form_tag(:controller => "bets", :action => "make_a_bid", :method => "post") do %>

        <ul>
            <% @bet.choices.each do |choice| %>

			    <li>
                    <%= radio_button_tag(:choice_id, choice.id, true) %>
                    <%= label_tag(:age_child, choice.description) %>
                </li>

	        <%end%>
        </ul>

        <%= submit_tag("Make a bid") if @bet.state == "OPEN" %>

    <%end%>

<%end%>