<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bet.title %>
</p>

<p>
  <b>Description:</b>
  <%= @bet.description %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @bet.expiration_date %>
</p>

<p>
  <b>User:</b>
  <%= link_to @bet.user.name, user_path(@bet.user)  %>
</p>

