<h1><%= @bet.title %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @bet.description %>
</p>

<p>
  <% if @bet.closed? %>
    <b>Bet closed</b>
  <% else %>
    <b>Expiration :</b>
      <%= distance_of_time_in_words(Time.now, @bet.expiration_date) %>
  <% end %>
</p>

<p>
  <b>User:</b>
  <%= link_to @bet.user.name, user_path(@bet.user)  %>
</p>


<h2>Choices</h2>


<%if @bet.choices.count == 0 %>
	<p>No choice for this bet.</p>
<%else%>

    <% if !@bet.closed? %>

        <%= form_tag(:controller => "bets", :action => "make_a_bid", :method => "post") do %>


            <ul class="choices">
                <% @bet.choices.each do |choice| %>

	    		    <li>
                        <span>
                            <%= radio_button_tag(:choice_id, choice.id, true) %>
                            <%= label_tag(:choice_id, choice.description) %>
                        </span>

                        <%= pluralize(choice.bids.count, 'bid') %> |
                        ratio : <%= sprintf( "%5.2f" , (1 + @bet.ratio_for_this_choice(choice.id))) %>

                    </li>

	            <% end %>
            </ul>

            <% if current_user.brouzouf > 0 %>
                <%= submit_tag("Make a bid", :class => "nice_button") if @bet.state == "OPEN" %>
            <% else %>
                You have no more brouzouf !
            <% end %>


        <%end%>

    <% else %>

          <ul class="choices">
                <% @bet.choices.each do |choice| %>
	    		    <li class="<%= "winner" if @bet.choice.id == choice.id%>">
                      <span>
                        <%= choice.description %>
                      </span>
                        (<%= pluralize(choice.bids.count, 'bid') %>)
                    </li>
	            <%end%>
            </ul>

    <% end %>

<%end%>