<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bet.title %>
</p>

<p>
  <b>Description:</b>
  <%= @bet.description %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @bet.expiration_date %>
</p>

<p>
  <b>User name:</b>
  <%= @bet.user.name %>
</p>


<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
