<h1><%= @bet.title %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @bet.description %>
</p>

<p>
  <% if @bet.closed? %>
    <b>Bet closed</b>
  <% else %>
    <b>Expiration :</b>
      <%= distance_of_time_in_words(Time.now, @bet.expiration_date) %>
  <% end %>
</p>

<p>
  <b>User:</b>
  <%= link_to @bet.user.name, user_path(@bet.user)  %>
</p>


<h2>Choices</h2>


<div class="row">
<% if @bet.choices.count == 0 %>
	<p>No choice for this bet.</p>
<% else %>

    <% if !@bet.closed? %>

        <%= form_tag(:controller => "bets", :action => "make_a_bid", :method => "post") do %>

            <div class="twelve columns">
                <div class="seven columns">
                    <% @bet.choices.each do |choice| %>

                        <div>
                            <%= radio_button_tag :choice_id, choice.id, true %>
                            <%= choice.description %> (
                            <%= pluralize(choice.bids.count, 'bid') %>
                            <% if (choice.bids.count > 0) %> |
                              ratio : <%= sprintf( "%5.2f" , (1 + @bet.ratio_for_this_choice(choice.id))) %>
                            <% end %>
                            )
                        </div>

                    <% end %>
                </div>

                <% if user_signed_in? %>
                    <div class="four columns">

                        <% if current_user.brouzouf > 0 %>
                            <%= submit_tag("Make a bid", :class => "nice_button") if @bet.state == "OPEN" %>
                        <% else %>
                            You have no more brouzouf !
                        <% end %>
                    </div>
                </div>
            <% else %>
                </div>
                <div class = "row"></div>
                    <div class="alert">You have to <%= link_to 'create an account', new_user_registration_path %> or <%= link_to 'sign in', new_user_session_path %> to participate.</div>
                </div>

            <% end %>

        <% end %>

    <% else %>

          <ul class="twelve columns">
                <% @bet.choices.each do |choice| %>
	    		    <li class="<%= "winner" if @bet.choice.id == choice.id%>">
                      <span>
                        <%= choice.description %>
                      </span>
                        (<%= pluralize(choice.bids.count, 'bid') %>)
                    </li>
	            <%end%>
            </ul>

    <% end %>
</row>
<%end%>


<div id="disqus_thread"></div>
<script type="text/javascript">
	var disqus_developer = 0; // developer mode is off
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'brouzouf'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>