<% if (user.expired_bets.count > 0) %>


      <% if user == current_user%>
        <div id="closedBetModal" class="reveal-modal">
          <h2>Hi <%= user.name %> !</h2>
          <p class="lead">You have <%= pluralize(user.expired_bets.count, 'bet') %> that needs to be closed !</p>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        <script type="text/javascript">
          $(document).ready(function() {
            $('#closedBetModal').reveal({closeOnBackgroundClick: true});
          });
        </script>
      <% else %>
          <strong><%= user.name %> has <%= pluralize(user.expired_bets.count, 'bet') %> that needs to be closed !</strong>
      <% end %>



    <table>
      <tr>
        <th align="left">Title</th>
        <th align="left">Actions</th>
      </tr>
      <% user.expired_bets.each do |bet| %>
          <%= render :partial => 'show_bet', :locals => {:bet => bet} %>
      <% end %>
    </table>

<% end %>


<% if (user.open_bets.size > 0) %>
    <h2>Open Bets</h2>
    <table>
      <tr>
        <th align="left">Title</th>
        <th align="left">Actions</th>
      </tr>
      <% user.open_bets.each do |bet| %>
          <%= render :partial => 'show_bet', :locals => {:bet => bet} %>
      <% end %>
    </table>
<% end %>


<% if (user.closed_bets.count > 0) %>
    <h2>Closed Bets</h2>
    <table>
      <tr>
        <th align="left">Title</th>
        <th align="left">Actions</th>
      </tr>
      <% user.closed_bets.each do |bet| %>
          <%= render :partial => 'show_bet', :locals => {:bet => bet} %>
      <% end %>
    </table>
<% end %>


<% if user == current_user %>

    <% if (user.bets.count == 0) %>
        No bet created yet. <%= link_to "Create your first bet now !", new_bet_url %>
    <% else %>



        <% if (user.draft_bets.count > 0) %>
            <h2>Draft Bets</h2>
            <table>
              <tr>
                <th align="left">Title</th>
                <th align="left">Actions</th>
              </tr>
              <% user.draft_bets.each do |bet| %>
                  <%= render :partial => 'show_bet', :locals => {:bet => bet} %>
              <% end %>
            </table>
        <% end %>

    <% end %>

<% end %>