<h1>Your account</h1>


<ul>

  <li><%= link_to 'Modify my info', edit_user_registration_path %></li>
  <li><%= link_to 'New Bet', new_bet_path %></li>

</ul>

<p>
  Your credit : <strong><%= pluralize(current_user.brouzouf, "brouzouf") %></strong>
</p>

<h2>My Bets</h2>

<%= render :partial => 'show_bets', :locals => {:user => current_user} %>

<h2>My Bids</h2>
<ul>
  <% current_user.bids.each do |bid| %>
      <li> <%= I18n.l bid.created_at, :format => :short %> - <b><%= bid.choice.description %></b>
        on  <%= link_to bid.choice.bet.title, bid.choice.bet %> </li>
  <% end %>
</ul>

