<h1>Listing wagers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Choice</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wagers.each do |wager| %>
  <tr>
    <td><%= wager.user %></td>
    <td><%= wager.choice %></td>
    <td><%= wager.value %></td>
    <td><%= link_to 'Show', wager %></td>
    <td><%= link_to 'Edit', edit_wager_path(wager) %></td>
    <td><%= link_to 'Destroy', wager, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wager', new_wager_path %>
