<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @wager.user %>
</p>

<p>
  <b>Choice:</b>
  <%= @wager.choice %>
</p>

<p>
  <b>Value:</b>
  <%= @wager.value %>
</p>


<%= link_to 'Edit', edit_wager_path(@wager) %> |
<%= link_to 'Back', wagers_path %>
